@font-face {
    font-family: 'Bookit';
    src: url('./font/icomoon.woff?k7fap4') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-f {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Bookit' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 26px;

    &.xsmd {
        font-size: 20px;
    }

    &.smd {
        font-size: 24px;
    }

    &.md {
        font-size: 32px;
    }

    &.lg {
        font-size: 48px;
    }

    &.xlg {
        font-size: 58px;
    }

    &.icon-arrow-right:before {
        content: "\e900";
        color: #ffffff;
    }

    &.icon-vue:before {
        content: "\e901";
        color: #3FB27F;
    }

    &.icon-bars:before {
        content: "\e902";
        color: #ffffff;
    }

    &.icon-sass:before {
        content: "\e903";
        color: #C76494;
    }

    &.icon-html:before {
        content: "\e904";
        color: #DD4B25;
    }

    &.icon-css3:before {
        content: "\e905";
        color: #254BDD;
    }

    &.icon-git:before {
        content: "\e906";
        color: #000000;
    }

    &.icon-mssql {
        .path1:before {
            content: "\e907";
            color: #919DAA;
        }

        .path2:before {
            content: "\e908";
            margin-left: -1em;
            color: #919DAA;
        }

        .path3:before {
            content: "\e909";
            margin-left: -1em;
            color: #A91D22;
        }

        .path4:before {
            content: "\e90a";
            margin-left: -1em;
            color: #231F1F;
        }
    }
}